{
    "lines": 100,
    "statements": 100,
    "functions": 100,
    "branches": 100,
    "include": [
      "src/**/*.js"
    ],
    "exclude": [
      "test/int/**/*.test.js",
      "test/unit/**/*.test.js"
    ],
    "require": [],
    "reporter": [
      "text",
      "lcov",
      "html",
      "text-summary"
    ],
    "sourceMap": false,
    "instrument": false,
    "cache": false,
    "check-coverage": true,
    "all": true
}
